<div class="container">
	<% if !flash[:alert].nil? %>
	<div class="alert alert-danger">
		<%= flash[:alert] %>
	</div>
	<% end %>
	
	<div class="row">
		<div class="col-md-4">
		</div>

		<div class="col-md-4 text-center">
			<h3 class="form-heading">게시글 수정</h3>

			<form action="/board/edit_complete" method="post">
				<input type="hidden" name="id" value="<%= @post.id %>">
			  <p>+ 분류
			  <select name="post_category">
			    <option value="중고장터">중고장터</option>
			    <option value="공동구매">공동구매</option>
			    <option value="나눔">나눔</option>
			    <option value="도와주세요">도와주세요</option>
			  </select></p>
			  <p><input class="form-input" type="text" name="post_title" value="<%=@post.title%>"></p>
				<p><input class="form-input" type="text" name="post_price" value="<%=@post.price%>" placeholder="가격을 입력하시오"></p>
				<p><input class="form-input" type="text" name="post_number" value="<%=@post.number%>"placeholder="Phone or KaKaO"></p>
			  <p><textarea class="form-textarea"  name="post_content" placeholder="내용을 입력하시오"><%=@post.content%>  </textarea></p>
				<input class="btn btn-lg btn-block" type="submit" value="수정 완료">
			</form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>
